header{
    background: #e7c8fc;
    margin: 20px 20px 20px 20px;
}

#logopage {
    width: 13%;
    margin: 20px 0 0 40px;
}

nav {
    position: absolute;
    top: 13%;
    display: inline;
    letter-spacing: 2px;
    
}

.link-nav{
    padding: 8px;
    border-radius: 10px;
    border: 3px groove #bc5ffa;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #552d72;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s all;
}

nav a:hover{
    background:#9b80ad
}

body {
    background-color:#C0C0C0; 
    font-family: 'Quicksand', sans-serif;
}

.principal{
    margin: 0 20% 5% 20%;
}

h1{
    font-size: 40px; 
    text-align: center;
    font-style: bold;
}

#introducao {
    text-align: justify; 
    font-size: 30px;
}

#cat1{
    width: 50%;
    margin-left: 40%;
}

table{
    margin: 40px 0 40px 45%;
    opacity: 0.7;
    transition: 300ms;
}

table:hover{
    opacity: 1;
    font-size: 20px;
    box-shadow: -3px -3px 5px black;

}

thead{
    background: #7f569c;
    font-weight: bold;
}

td, th{
    padding: 10px;
    border: 1px solid #7f569c;
    text-align: center;
}


/*definições novidades e pag blog cat*/
p{
    margin-top: 5%;
    font-size: 25px;
    text-align: center;
}

.novidades h2{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 3%;
}

.novidades{
    margin: 2% 5% 3% 5%;
    text-align: center;
}

.novidades a{
    color: black;
}

.novidades li{
    display: inline-block;
    text-align: center;
    vertical-align: middle ;
    background: #a6a0aa;
    margin: 5% 2% 0 0;
    width: 500px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 9px;
    transition: 0.5s all;
    
}

.novidades li:hover{
    background: #86818a;
    transform: scale(1.03);
}

/*definições pagina motivos para ter um gato*/

.materia{
    margin: 0 20% 0 20%;
}

.materia p {
    font-size: 20px;
    text-align: left;
}

.motivos{
    margin: 0 20% 10% 20%;
}

h2 {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

#gato-leal{
    width: 50%;
}

#gato-independente{
    width: 50%;
}

#gato-asseado{
    width: 50%;
}

#gato-cacador{
    width: 50%;
}

#gato-amoroso{
    width: 50%;
}

.afeto-gatos{
    list-style-type: square;
    font-size: 20px;
}

/*definições pag contato*/
form{
    margin: 60px;
    margin-left: 35%;
}

form input, form textarea, form fieldset{
    display: block;
    padding: 8px 8px;
    width: 45%;
    margin: 10px 10px 25px 0;
}

form select{
    cursor: pointer;
}

.enviar{
    width: 350px;
    font-size: 20px;
    background: #7f569c;
    border-radius: 10px;
    border: none;
    margin-left: 100px;
    transition: 0.5s all;
    cursor: pointer;
}

.enviar:hover{
    transform: scale(1.1);
}

/*definições materias blog*/
.texto-blog{
    margin: 0 20% 0 20%;
    text-align: center;
}

.texto-blog p{
    text-align: justify;
}

.istambul{
    padding: 40px;
    text-align: center;
}

.tiktok-embed{
    padding: 50px;
    margin: 50px;
}

/*rodape das paginas*/
.rodape{
    background: #7f569c;
}

.sobre{
    margin: 0 80% 0 5%;
    font-size: 20px;
}

#logorodape{
    margin: 0 10% 0 80%;
    width: 9%;
}

.copyright{
    text-align: center;
    margin: auto;
}