#logopage {
    width: 10%;
    margin-left: 25px;
}

header{
    margin-left: 65px;
}

body {
    background-color:#C0C0C0; /*cor de fundo*/
    font-family: 'Quicksand', sans-serif;
}

h1 {
    text-align: center; /*centralizando titulo*/
    font-size: 50px; /*tamanho da fonte titulo*/
    font-weight: bold;
    background: #e7c8fc;
}

#introducao {
    text-align: center; /*centralizando paragrafos*/
    font-size: 20px;
}

#cat1{
    width: 15%;
    margin-left: 50%;
}

.materia{
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
     font-size: 25px;
     font-weight: bold;
     text-align: center;
}

p {
    font-size: 20px;
    text-align: left;
}

.motivos{
    margin-left: 20%;
    margin-right: 20%;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

.afeto-gatos{
    list-style-type: square;
    font-size: 20px;
}